<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!--
      Athina kizhekkechamakalyil rajesh
      index.ejs
      301368666
      25-01-24
    -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my portfolio <%= title %> page</h1>
    <p style="font-size: 23px;">Welcome to my portfolio website! I'm excited to share my journey, projects, and experiences with you. Feel free to explore and learn more about what I do. If you have any questions, don't hesitate to reach out.</p>
    <img class="me" src="/img/Athina.jpg" alt="Your Profile Picture">
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   