<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    <!-- Projects Section -->
  <div class="projects content">
    <h2>My Projects</h2>
<!--
      Vilmiya Bavakkattu Thampi
      products.ejs
      301285191
      01-10-23
    -->
    <!-- Project 1 -->
    <div class="project">
      <h3>Project 1</h3>
      <p>Designed and developed an interactive recipe sharing website that allows users to explore, upload, and share their favourite recipes with the community.Used HTML and CSS to develop a visually appealing and user-friendly interface with a focus on responsive design for optimal viewing on a variety of devices.Implemented JavaScript to enable dynamic features and ensured cross-browser compatibility and
        responsive design principles for seamless user experience.Additionally, the website's functionality and design were improved iteratively through the use of user testing and feedback.
      </p>
      <img src="/img/web.webp" alt="Product 1 Image">
    </div>

    <!-- Project 2 -->
    <div class="project">
      <h3>Project 2</h3>
      <p>Developed a feature-rich GUI calculator application using C# and .NET.The application provides users with an intuitive interface for inputting mathematical expressions and quickly generating accurate results. It supports a wide range of mathematical operations, making complex calculations effortless.
      </p>
      <img src="/img/calc.jpg" alt="Product 2 Image">
    </div>

    <!-- Project 3 -->
    <div class="project">
      <h3>Project 3</h3>
      <p>Created a user-friendly and efficient streaming platform for a movie database that allows users to search, browse, and stream movies based on their preferences.The database serves as a central repository for managing movie information, user accounts, user preferences, and streaming history.</p>
      <img src="/img/database.jpg" alt="Product 3 Image">
    </div>

  </div>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   