<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>Explore our range of services designed to meet your needs.</p>
<br>
    <!-- Services List -->
    <div class="services-list">
      <div class="service">
        <h3>Web Development</h3>
        <p>We offer professional web development services using the latest technologies.</p>
      </div>
<br> <br>
      <div class="service">
        <h3>Graphic Design</h3>
        <p>Elevate your brand with our creative graphic design solutions.</p>
      </div>
<br><br>
      <div class="service">
        <h3>Digital Marketing</h3>
        <p>Boost your online presence with our strategic digital marketing services.</p>
      </div>
    </div>
  </div>
</main>

<!-- Bottom Nav -->
<%- include ('partials/bottom_nav.ejs') %>

<!-- Footer -->
<%- include ('partials/footer.ejs') %>



   